build/
*.ipr
run/
1.3.0/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
*/.factorypath
.project
.idea/
.kotlin/
.eclipse
classes/
.metadata
.vscode
.codex
.settings
*.launch
.architectury-transformer/debug.log
src/generated/resources/.cache/

*.patch
*.DS_Store
